body{
    background-color: #000000;
}
.texto{
    font-size: 25px;/*tamanho da fonte*/
    line-height:35px;/*entre linhas*/
    font-style: italic;/*estilo da fonte*/
    color: #b3ff00;/*cor da fonte*/
    font-weight: bold;/*largura da font*/
    text-align: justify;/*alinhamento de texto */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto a{
    color:#04fff2;/*cor da fonte do link*/
    text-decoration: none;
    text-transform: uppercase;/*todas letras maiusculas*/
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.borda{
    color: #ff0000;
    width: 500px;    
    margin: 0 auto;
    /*alinha a margem da pagina ao centro*/
    border: 5px solid #ffffff;
    /*tamanho e cor da margem*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}
.texto1{
    color: #f00;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align:center;
    line-height: 35px;   
}
.texto1 h1{
    color: #00ff2f;
}
.borda1{
    margin: 0 auto;
    border: 6px solid #505050;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    width: 1000px;
    margin-top: 50px;
    /*variaçoes : top, left, right, bottom*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 10px;
}

.texto2{
    
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align:center;
    line-height: 35px;

}
.texto2 h1{
    color: #00ff2f;

}
.borda2 {
    margin: 0 auto;
    border: 6px solid #505050;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: left;
    width: 750px;
    margin-top: 50px;
    /*variaçoes : top, left, right, bottom*/
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    padding-left: 10px;
}
.lista{
    list-style-position: inside;
    /*posição do marcador, inside/outside*/
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    list-style-type: circle;
    /*tres estilos : disc, circle, square, decimal*/
    
}